@button-margin: 36px;

.searchRow {
	align-items: center;
	margin: 0 0 12px -@button-margin;
}

.search {
	width: 900px;
}

.count {
	margin-left: 24px;
	opacity: 0.75;
}

.scroller {
	overflow: auto;
}

.list {
	padding-bottom: 48px;
}

.status {
	margin: 96px 0;
	text-align: center;
}
