.postEVEN {
	background-color: steelblue;
	border-radius: 25px;
	padding: 20px;
	margin: 20px;
}

.postODD {
	background-color: lightsteelblue;
	border-radius: 25px;
	padding: 20px;
	margin: 20px;
}

.blogName {
	display: block;
	margin-bottom: 12px;
}

.postImage {
	width: 100%;
	max-height: 480px;
}

.postBody {
	margin: 12px 0;
}

.postActions {
	align-items: center;
	margin-top: 12px;
}

.notes {
	margin-left: 24px;
}
